/* links  */
.sitelinks {
    margin-top: 90px;
    background-color: #000;
    text-align: center;
    border-bottom: 2px solid #ffc107;
    border-top: 2px solid #ffc107;
    background-color: #1a1a1a;
}

.sitelinks a {
    text-decoration: none;
    color: white;
}

.sitelinks a:hover {
    text-decoration: underline;
    color: #ffc107;
}